* {
  margin: 0;
  padding: 0;
  background: #FBFBFB;
}

nav {
  display: flex;
  flex-direction: row;
}

ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 60px;
}